<a href="https://colab.research.google.com/github/balaram401/Applied-data-science-capstone-project--ibm--coursera-/blob/master/week_4%265_capstone_balu_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [12]:
lon_data=pd.read_csv("https://data.london.gov.uk/download/london-borough-profiles/c1693b82-68b1-44ee-beb2-3decf17dc1f8/london-borough-profiles.csv",encoding= 'unicode_escape')
lon_data.head(20)

,Code,Area_name,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",Net_internal_migration_(2015),Net_international_migration_(2015),Net_natural_change_(2015),%_of_resident_population_born_abroad_(2015),Largest_migrant_population_by_country_of_birth_(2011),%_of_largest_migrant_population_(2011),Second_largest_migrant_population_by_country_of_birth_(2011),%_of_second_largest_migrant_population_(2011),Third_largest_migrant_population_by_country_of_birth_(2011),%_of_third_largest_migrant_population_(2011),%_of_population_from_BAME_groups_(2016),%_people_aged_3+_whose_main_language_is_not_English_(2011_Census),"Overseas_nationals_entering_the_UK_(NINo),_(2015/16)","New_migrant_(NINo)_rates,_(2015/16)",Largest_migrant_population_arrived_during_2015/16,Second_largest_migrant_population_arrived_during_2015/16,Third_largest_migrant_population_arrived_during_2015/16,Employment_rate_(%)_(2015),Male_employment_rate_(2015),Female_employment_rate_(2015),Unemployment_rate_(2015),Youth_Unemployment_(claimant)_rate_18-24_(Dec-15),Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014),Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016),%_working-age_with_a_disability_(2015),Proportion_of_working_age_people_with_no_qualifications_(%)_2015,Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015,"Gross_Annual_Pay,_(2016)",Gross_Annual_Pay_-_Male_(2016),Gross_Annual_Pay_-_Female_(2016),Modelled_Household_median_income_estimates_2012/13,%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13),Number_of_jobs_by_workplace_(2014),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),Crime_rates_per_thousand_population_2014/15,Fires_per_thousand_population_(2014),Ambulance_incidents_per_hundred_population_(2014),"Median_House_Price,_2015","Average_Band_D_Council_Tax_charge_(£),_2015/16",New_Homes_(net)_2015/16_(provisional),"Homes_Owned_outright,_(2014)_%","Being_bought_with_mortgage_or_loan,_(2014)_%","Rented_from_Local_Authority_or_Housing_Association,_(2014)_%","Rented_from_Private_landlord,_(2014)_%","%_of_area_that_is_Greenspace,_2005",Total_carbon_emissions_(2014),"Household_Waste_Recycling_Rate,_2014/15","Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)","%_of_adults_who_cycle_at_least_once_per_month,_2014/15","Average_Public_Transport_Accessibility_score,_2014","Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14",Rates_of_Children_Looked_After_(2016),%_of_pupils_whose_first_language_is_not_English_(2015),%_children_living_in_out-of-work_households_(2015),"Male_life_expectancy,_(2012-14)","Female_life_expectancy,_(2012-14)",Teenage_conception_rate_(2014),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
0,E09000001,City of London,Inner London,8800,5326,290,30.3,43.2,11.4,73.1,15.5,-7,665,30,.,United States,2.8,France,2,Australia,1.9,27.5,17.1,975,152.2,India,France,United States,64.6,.,.,.,1.6,.,3.4,.,.,.,.,.,.,"£63,620",.,500400,3.4,84.3,26130,64.3,.,12.3,.,799999,931.2,80,.,.,.,.,4.8,1036,34.4,1692,0.4,16.9,7.9,78.6,101,.,7.9,.,.,.,6.6,7.1,6.0,5.6,NaN,2.6,129,.,.,.,.,.
1,E09000002,Barking and Dagenham,Outer London,209000,78188,"3,611",57.9,32.9,27.2,63.1,9.7,-1176,2509,2356,37.8,Nigeria,4.7,India,2.3,Pakistan,2.3,49.5,18.7,"7,538",59.1,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11,4.5,5.7,10.5,17.2,11.3,32.2,27886,30104,24602,"£29,420",20.5,58900,21.1,0.5,6560,73.0,83.4,3,13.7,243500,1354.03,730,16.4,27.4,35.9,20.3,33.6,644,23.4,56966,0.8,8.8,3,58,69,41.7,18.7,77.6,82.1,32.4,7.1,7.6,7.1,3.1,28.5,7.3,228,Lab,0,100,0,36.5
2,E09000003,Barnet,Outer London,389600,151423,"8,675",44.9,37.3,21.1,64.9,14.0,-3379,5407,2757,35.2,India,3.1,Poland,2.4,Iran,2,38.7,23.4,"13,094",53.1,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.9,2.5,6.2,14.9,5.2,49,33443,36475,31235,"£40,530",33.2,167300,18.7,0.7,26190,73.8,62.7,1.6,11.1,445000,1397.07,1460,32.4,25.2,11.1,31.1,41.3,1415,38,144717,1.1,7.4,3,67.3,35,46,9.3,82.1,85.1,12.8,7.5,7.8,7.4,2.8,20.7,6.0,134,Cons,50.8,.,1.6,40.5
3,E09000004,Bexley,Outer London,244300,97736,"6,058",40.3,39.0,20.6,62.9,16.6,413,760,1095,16.1,Nigeria,2.6,India,1.5,Ireland,0.9,21.4,6,"2,198",14.4,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.9,3.4,6.8,15.9,10.8,33.5,34350,37881,28924,"£36,990",22.1,80700,15.9,0.6,9075,73.5,51.8,2.3,11.8,275000,1472.43,-130,38.1,35.3,15.2,11.4,31.7,975,54,108507,1.2,10.6,2.6,60.3,46,32.6,12.6,80.4,84.4,19.5,7.4,7.7,7.2,3.3,22.7,6.9,164,Cons,71.4,23.8,0,39.6
4,E09000005,Brent,Outer London,332100,121048,"4,323",76.8,35.6,20.9,67.8,11.3,-7739,7640,3372,53.9,India,9.2,Poland,3.4,Ireland,2.9,64.9,37.2,"22,162",100.9,Romania,Italy,Portugal,69.5,76,62.6,7.5,3.1,2.6,8.3,17.7,6.2,45.1,29812,30129,29600,"£32,140",17.3,133600,17.6,0.6,15745,74.4,78.8,1.8,12.1,407250,1377.24,1050,22.2,22.6,20.4,34.8,21.9,1175,35.2,87802,0.8,7.9,3.7,60.1,45,37.6,13.7,80.1,85.1,18.5,7.3,7.4,7.2,2.9,24.3,7.9,169,Lab,9.5,88.9,1.6,36.3
5,E09000006,Bromley,Outer London,327900,140602,"15,013",21.8,40.2,19.9,62.6,17.5,1342,796,1445,18.3,India,1.1,Ireland,1.1,Nigeria,0.7,18.9,5.8,"2,924",14.4,Romania,Italy,Spain,75.3,80.4,70.4,5.3,2.5,4.3,6,15.9,4.3,46.7,37682,42026,32491,"£43,060",29,127800,13.9,0.6,15695,78.6,64.1,2.3,11.2,374975,1347.27,700,37.8,34.9,13.2,14.1,57.8,1180,48,153908,1.2,13,2.8,68,40,38.9,10.2,81.4,84.9,16.7,7.5,7.9,7.4,3.3,16,5.2,148,Cons,85,11.7,0,40.8
6,E09000007,Camden,Inner London,242500,107654,"2,179",111.3,36.4,17.3,71.0,11.7,-2917,7504,1618,41.4,United States,2.8,Bangladesh,2.7,Ireland,2.4,34.6,23.5,"10,384",60.7,Italy,France,Spain,69.2,72.2,66.1,4,3.6,4.4,8.5,21.3,6.1,61.1,39796,.,36632,"£43,750",21.9,377400,12.4,2.2,31385,73.6,123.5,2.7,14.8,700000,1359.66,970,18.5,15.1,34.4,32,24.8,1288,26.3,46601,0.5,18.8,5.7,62.7,41,25.2,16.5,81.8,86.7,16.8,7.1,7.4,7.1,3.6,21.3,3.9,164,Lab,22.2,74.1,1.9,38.7
7,E09000008,Croydon,Outer London,386500,159010,"8,650",44.7,37.0,22.0,64.9,13.0,-2605,2438,3164,29.4,India,3.6,Jamaica,2.5,Ghana,1.5,49.9,14.5,"7,946",32.3,Romania,Poland,Italy,75.4,81.8,69.5,4.1,4.8,3.3,7.8,17.5,7,40.6,32696,35839,29819,"£37,000",27.2,141600,20.1,0.6,15540,75.3,77,2.2,12.8,300000,1494.13,2040,30.8,33.6,16.7,18.6,37.1,1237,39.9,140049,1.0,12.8,3.2,57.7,86,36.7,14.1,80.3,83.6,28.4,7.1,7.6,7.2,3.3,24.5,6.5,178,Lab,42.9,57.1,0,38.6
8,E09000009,Ealing,Outer London,351600,132663,"5,554",63.3,36.2,21.4,66.8,11.8,-6473,4007,3404,47.4,India,7.6,Poland,6.4,Ireland,2.3,53.5,33.9,"14,927",65.2,Poland,Romania,Italy,72.7,81.2,63.8,5.8,3,3,7.9,15.2,9.1,49.7,31331,32185,29875,"£36,070",32.1,160500,13.6,0.7,18700,75.8,75.5,1.9,11.3,430000,1335.93,720,20.1,30.2,14.3,35,30.9,1342,40.1,112845,0.9,15,3.3,62.1,46,43.6,13.1,80.6,84.2,17.8,7.3,7.6,7.3,3.6,23.8,6.9,164,Lab,17.4,76.8,5.8,41.2
9,E09000010,Enfield,Outer London,333000,130328,"8,083",41.2,36.3,22.8,64.4,12.8,-2077,3164,2769,35,Turkey,4.5,Cyprus (Not otherwise specified),3.6,Poland,1.9,42.3,22.9,"9,259",43.8,Romania,Bulgaria,Poland,73.0,80.4,66,3.8,3.3,3.1,9.3,18.4,4.5,43.4,31603,35252,30222,"£33,110",22.4,128800,21.7,0.6,13925,74.2,69.4,2.2,12.2,320000,1420.17,670,25.6,36.2,17.2,21,45.6,1245,38.5,119653,1.0,7.9,3,59.9,43,55.3,17.4,80.7,84.1,24.6,7.3,7.6,7.3,2.6,25.2,7.0,152,Lab,34.9,65.1,0,38.2
10,E09000011,Greenwich,Outer London,280100,113964,"4,733",59.2,35.0,21.9,67.7,10.4,-407,3366,2989,35.4,Nigeria,5.1,Nepal,1.9,India,1.7,40.3,16.9,"7,002",37.6,Romania,Bulgaria,Italy,72.1,77.9,66.3,8.1,5.4,5,9.5,20.2,10.6,42.2,32415,35596,29833,"£35,350",17.4,94700,27.3,0.5,10060,72.7,79.4,2.5,11.9,340000,1296.18,1720,19.2,26.9,34.2,19.7,34.4,1014,34.3,78185,0.8,7.7,3.4,58.8,78,44.1,17.1,79,82.5,28.1,7.2,7.6,7.2,3.4,27.7,6.1,193,Lab,15.7,84.3,0,37.3
11,E09000012,Hackney,Inner London,274300,115417,"1,905",144,33.1,20.7,72.1,7.2,-738,3359,3236,35.8,Turkey,3.6,Nigeria,2.7,Jamaica,1.8,43.6,24.1,"8,927",46.0,Italy,France,Spain,69.0,72.8,65.3,5.9,4.8,3,10.7,17.9,10.8,49.2,32056,.,31919,"£35,140",29.6,132800,18.1,0.7,18510,76.8,99.6,2.7,11.5,485000,1294.42,830,11.1,19.8,45.4,23.3,23.2,813,25.3,41800,0.4,25.2,4.9,60.6,53,44.2,19.7,78.5,83.3,24.7,7.0,7.3,7.0,3.8,27,5.8,211,Lab,7,87.7,5.3,39.4
12,E09000013,Hammersmith and Fulham,Inner London,185300,83552,"1,640",113,35.7,17.4,72.3,10.3,-3361,2926,1462,43.2,France,2.7,Ireland,2.7,Australia,2.5,33.7,22.7,"9,256",71.4,Italy,France,Spain,77.5,80.9,74.2,4.7,2.2,2.5,8.4,12.9,4.9,67.5,38041,43845,34808,"£43,820",30.5,149500,16.4,1.2,14095,73.4,113.2,2,12.2,730000,1003.81,370,19.1,21.8,25.9,33.1,19.1,809,20.7,43843,0.5,20.1,4.7,60.5,58,48.9,16.1,79.7,84.1,22.4,7.4,7.5,7.2,3.1,21.3,4.4,187,Lab,43.5,56.5,0,37.6
13,E09000014,Haringey,Inner London,278000,115608,"2,960",93.9,35.1,20.0,70.7,9.3,-4233,6675,2885,39.6,Poland,4.3,Turkey,4,Jamaica,2,38.2,29.7,"15,144",78.5,Romania,Italy,Bulgaria,71.3,77.6,64.8,5.7,5.6,3.5,9.7,16.3,8.8,49.2,31063,.,29513,"£35,420",29.8,91500,17.8,0.5,12675,74.4,90.2,2.1,12.3,432500,1484.01,240,18,24.7,33.4,23.9,25.5,773,37.3,61515,0.6,14.1,4.3,59.7,67,48,16.9,80.1,84.9,22.6,7.2,7.5,7.2,3.2,23.8,5.9,183,Lab,0,84.2,15.8,38.1
14,E09000015,Harrow,Outer London,252300,92557,"5,046",50,38.3,20.5,64.5,15.0,-3644,2833,1933,49.6,India,9,Kenya,4.9,Sri Lanka,4.3,61.8,28.5,"10,427",65.4,Romania,India,Poland,73.9,83.1,64.7,4.6,2.4,1.5,5.4,13.9,4.2,47.9,33202,.,29335,"£38,880",38.9,88600,14.5,0.6,15155,76.5,50.4,1.3,9.8,396150,1559.61,910,33.5,32.8,8.9,24.6,34.6,748,45.1,100326,1.2,8.3,2.9,66.4,32,57.6,9.1,82.7,86.1,11,7.3,7.4,7.3,2.7,20.2,8.5,134,Lab,41.3,54,1.6,40.7
15,E09000016,Havering,Outer London,254300,104098,"11,235",22.6,40.3,19.3,62.3,18.4,1710,604,785,10.9,Ireland,1.1,India,1,Nigeria,0.9,15.7,4.6,"2,642",17.0,Romania,Lithuania,Poland,76.5,81.3,71.8,5.3,3.3,4,7,18.2,10.5,26,33398,36539,27455,"£36,670",16.9,91300,20.7,0.6,10115,75.3,62.9,2.5,12.9,287500,1543.64,1010,35.2,33.9,17.2,13.8,59.3,1032,32.4,117634,1.2,7.8,2.5,59.8,42,38.9,12.6,80.2,83.9,22.8,7.4,7.7,7.2,3.3,21.8,5.9,159,No Overall Control,40.7,1.9,0,43.1
16,E09000017,Hillingdon,Outer London,301000,110827,"11,570",26,36.4,21.3,65.6,13.1,-1616,4139,2458,32.4,India,5.7,Pakistan,1.8,Ireland,1.6,45.7,18.8,"6,993",35.8,Romania,Poland,India,73.2,80.7,65.9,5.8,2.5,2.4,6.5,17.9,8.7,40.2,33508,36107,28778,"£37,040",23.8,220900,11.4,1.0,13505,75.0,76.6,2.6,14.7,350000,1388.93,710,22.2,33,16.6,28.2,49.2,1713,43.8,122486,1.2,12.3,2.4,62,49,29.6,12.3,80.4,83.9,20.5,7.4,7.7,7.3,3.5,21.1,6.4,170,Cons,64.6,35.4,0,36.1
17,E09000018,Hounslow,Outer London,274200,105887,"5,598",49,35.8,21.1,67.6,11.3,-3994,4425,2871,46.3,India,10.7,Poland,4.1,Pakistan,2.8,51.6,28.7,"11,336",62.4,Romania,India,Poland,74.2,84.7,63.2,4.3,2.9,3.2,6.1,17.6,6.5,45.5,31001,32235,27226,"£35,330",26.9,165700,11.7,1.0,13910,76.2,79.2,2.1,12.1,355000,1355.77,480,25.5,27,19.2,28.3,39.6,1277,34.5,94042,1.0,16,3,63.2,45,50.6,13.5,80,83.9,25,7.3,7.6,7.4,3.4,24.1,6.5,166,Lab,18.3,81.7,0,36.8
18,E09000019,Islington,Inner London,231200,105038,"1,486",155.6,34.8,15.9,75.3,8.8,-1480,6295,1819,36.6,Ireland,2.8,Turkey,1.8,United States,1.5,32,19.9,"9,302",54.3,Italy,France,Spain,72.6,78.2,67,4.5,4.5,5.2,10.5,14.6,6.2,62.7,36592,38284,.,"£39,790",31.1,231500,14.5,1.5,22110,72.5,121.2,2.6,13.9,583000,1296.15,1030,15.4,23.5,35.3,25.5,12.4,878,32.8,38629,0.4,21.4,5.7,59.9,88,57.6,23.4,79,83.5,20.2,7.2,7.4,7.1,3.7,22.8,5.0,203,Lab,0,97.9,0,38.4
19,E09000020,Kensington and Chelsea,Inner London,159000,80200,"1,212",131.1,39.3,16.4,69.3,14.3,-1741,2234,1047,51.9,United States,5,France,4.2,Italy,2.7,30,28,"7,237",66.2,Italy,France,Spain,68.2,76.3,60.4,4.2,3.4,3.6,7.2,14.3,5.2,65.2,.,.,.,"£55,620",31.1,143500,14.7,1.4,14350,74.5,120.9,2,12.7,1200000,1058.58,380,22.6,15.1,29.1,33.1,15.1,1154,25.3,44536,0.6,16.9,5.8,68.7,37,45.8,11.0,83.3,86.4,14.2,7.6,7.8,7.6,3.1,18.6,4.2,136,Cons,74,24,2,29.8

In [16]:
columns=lon_data.columns
columns

Index(['Code', 'Area_name', 'Inner/_Outer_London',
       'GLA_Population_Estimate_2017', 'GLA_Household_Estimate_2017',
       'Inland_Area_(Hectares)', 'Population_density_(per_hectare)_2017',
       'Average_Age,_2017', 'Proportion_of_population_aged_0-15,_2015',
       'Proportion_of_population_of_working-age,_2015',
       'Proportion_of_population_aged_65_and_over,_2015',
       'Net_internal_migration_(2015)', 'Net_international_migration_(2015)',
       'Net_natural_change_(2015)',
       '%_of_resident_population_born_abroad_(2015)',
       'Largest_migrant_population_by_country_of_birth_(2011)',
       '%_of_largest_migrant_population_(2011)',
       'Second_largest_migrant_population_by_country_of_birth_(2011)',
       '%_of_second_largest_migrant_population_(2011)',
       'Third_largest_migrant_population_by_country_of_birth_(2011)',
       '%_of_third_largest_migrant_population_(2011)',
       '%_of_population_from_BAME_groups_(2016)',
       '%_people_aged_3+_whose_main_language_is_not_English_(2011_Census)',
       'Overseas_nationals_entering_the_UK_(NINo),_(2015/16)',
       'New_migrant_(NINo)_rates,_(2015/16)',
       'Largest_migrant_population_arrived_during_2015/16',
       'Second_largest_migrant_population_arrived_during_2015/16',
       'Third_largest_migrant_population_arrived_during_2015/16',
       'Employment_rate_(%)_(2015)', 'Male_employment_rate_(2015)',
       'Female_employment_rate_(2015)', 'Unemployment_rate_(2015)',
       'Youth_Unemployment_(claimant)_rate_18-24_(Dec-15)',
       'Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014)',
       'Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016)',
       '%_working-age_with_a_disability_(2015)',
       'Proportion_of_working_age_people_with_no_qualifications_(%)_2015',
       'Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015',
       'Gross_Annual_Pay,_(2016)', 'Gross_Annual_Pay_-_Male_(2016)',
       'Gross_Annual_Pay_-_Female_(2016)',
       'Modelled_Household_median_income_estimates_2012/13',
       '%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13)',
       'Number_of_jobs_by_workplace_(2014)',
       '%_of_employment_that_is_in_public_sector_(2014)', 'Jobs_Density,_2015',
       'Number_of_active_businesses,_2015',
       'Two-year_business_survival_rates_(started_in_2013)',
       'Crime_rates_per_thousand_population_2014/15',
       'Fires_per_thousand_population_(2014)',
       'Ambulance_incidents_per_hundred_population_(2014)',
       'Median_House_Price,_2015',
       'Average_Band_D_Council_Tax_charge_(£),_2015/16',
       'New_Homes_(net)_2015/16_(provisional)',
       'Homes_Owned_outright,_(2014)_%',
       'Being_bought_with_mortgage_or_loan,_(2014)_%',
       'Rented_from_Local_Authority_or_Housing_Association,_(2014)_%',
       'Rented_from_Private_landlord,_(2014)_%',
       '%_of_area_that_is_Greenspace,_2005', 'Total_carbon_emissions_(2014)',
       'Household_Waste_Recycling_Rate,_2014/15',
       'Number_of_cars,_(2011_Census)',
       'Number_of_cars_per_household,_(2011_Census)',
       '%_of_adults_who_cycle_at_least_once_per_month,_2014/15',
       'Average_Public_Transport_Accessibility_score,_2014',
       'Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14',
       'Rates_of_Children_Looked_After_(2016)',
       '%_of_pupils_whose_first_language_is_not_English_(2015)',
       '%_children_living_in_out-of-work_households_(2015)',
       'Male_life_expectancy,_(2012-14)', 'Female_life_expectancy,_(2012-14)',
       'Teenage_conception_rate_(2014)',
       'Life_satisfaction_score_2011-14_(out_of_10)',
       'Worthwhileness_score_2011-14_(out_of_10)',
       'Happiness_score_2011-14_(out_of_10)',
       'Anxiety_score_2011-14_(out_of_10)',
       'Childhood_Obesity_Prevalance_(%)_2015/16',
       'People_aged_17+_with_diabetes_(%)',
       'Mortality_rate_from_causes_considered_preventable_2012/14',
       'Political_control_in_council',
       'Proportion_of_seats_won_by_Conservatives_in_2014_election',
       'Proportion_of_seats_won_by_Labour_in_2014_election',
       'Proportion_of_seats_won_by_Lib_Dems_in_2014_election',
       'Turnout_at_2014_local_elections'],
      dtype='object')

In [17]:
lon_data.info

<bound method DataFrame.info of          Code               Area_name Inner/_Outer_London  \
0   E09000001          City of London        Inner London
1   E09000002    Barking and Dagenham        Outer London
2   E09000003                  Barnet        Outer London
3   E09000004                  Bexley        Outer London
4   E09000005                   Brent        Outer London
5   E09000006                 Bromley        Outer London
6   E09000007                  Camden        Inner London
7   E09000008                 Croydon        Outer London
8   E09000009                  Ealing        Outer London
9   E09000010                 Enfield        Outer London
10  E09000011               Greenwich        Outer London
11  E09000012                 Hackney        Inner London
12  E09000013  Hammersmith and Fulham        Inner London
13  E09000014                Haringey        Inner London
14  E09000015                  Harrow        Outer London
15  E09000016                Havering        Outer London
16  E09000017              Hillingdon        Outer London
17  E09000018                Hounslow        Outer London
18  E09000019               Islington        Inner London
19  E09000020  Kensington and Chelsea        Inner London
20  E09000021    Kingston upon Thames        Outer London
21  E09000022                 Lambeth        Inner London
22  E09000023                Lewisham        Inner London
23  E09000024                  Merton        Outer London
24  E09000025                  Newham        Inner London
25  E09000026               Redbridge        Outer London
26  E09000027    Richmond upon Thames        Outer London
27  E09000028               Southwark        Inner London
28  E09000029                  Sutton        Outer London
29  E09000030           Tower Hamlets        Inner London
30  E09000031          Waltham Forest        Outer London
31  E09000032              Wandsworth        Inner London
32  E09000033             Westminster        Inner London
33  E13000001            Inner London                 NaN
34  E13000002            Outer London                 NaN
35  E12000007                  London                 NaN
36  E92000001                 England                 NaN
37  K02000001          United Kingdom                 NaN

    GLA_Population_Estimate_2017 GLA_Household_Estimate_2017  \
0                           8800                        5326
1                         209000                       78188
2                         389600                      151423
3                         244300                       97736
4                         332100                      121048
5                         327900                      140602
6                         242500                      107654
7                         386500                      159010
8                         351600                      132663
9                         333000                      130328
10                        280100                      113964
11                        274300                      115417
12                        185300                       83552
13                        278000                      115608
14                        252300                       92557
15                        254300                      104098
16                        301000                      110827
17                        274200                      105887
18                        231200                      105038
19                        159000                       80200
20                        175400                       69849
21                        328900                      144400
22                        303400                      131076
23                        208100                       84201
24                        342900                      119172
25                        304200                      110708
26                        197300                       85108
27                        314300                      134254
28                        202600                       85243
29                        304000                      123720
30                        276200                      105981
31                        321000                      138149
32                        242100                      118975
33                       3535700                     1522541
34                       5299800                     2079422
35                       8835500                     3601963
36                      55609600                           .
37                      65999100                           .

   Inland_Area_(Hectares) Population_density_(per_hectare)_2017  \
0                     290                                  30.3
1                   3,611                                  57.9
2                   8,675                                  44.9
3                   6,058                                  40.3
4                   4,323                                  76.8
5                  15,013                                  21.8
6                   2,179                                 111.3
7                   8,650                                  44.7
8                   5,554                                  63.3
9                   8,083                                  41.2
10                  4,733                                  59.2
11                  1,905                                   144
12                  1,640                                   113
13                  2,960                                  93.9
14                  5,046                                    50
15                 11,235                                  22.6
16                 11,570                                    26
17                  5,598                                    49
18                  1,486                                 155.6
19                  1,212                                 131.1
20                  3,726                                  47.1
21                  2,681                                 122.7
22                  3,515                                  86.3
23                  3,762                                  55.3
24                  3,620                                  94.7
25                  5,642                                  53.9
26                  5,741                                  34.4
27                  2,886                                 108.9
28                  4,385                                  46.2
29                  1,978                                 153.7
30                  3,881                                  71.2
31                  3,426                                  93.7
32                  2,149                                 112.7
33                 31,929                                 110.7
34                125,424                                  42.3
35                157,215                                  56.2
36             13,025,967                                     .
37                      .                                     .

    Average_Age,_2017  Proportion_of_population_aged_0-15,_2015  \
0                43.2                                      11.4
1                32.9                                      27.2
2                37.3                                      21.1
3                39.0                                      20.6
4                35.6                                      20.9
5                40.2                                      19.9
6                36.4                                      17.3
7                37.0                                      22.0
8                36.2                                      21.4
9                36.3                                      22.8
10               35.0                                      21.9
11               33.1                                      20.7
12               35.7                                      17.4
13               35.1                                      20.0
14               38.3                                      20.5
15               40.3                                      19.3
16               36.4                                      21.3
17               35.8                                      21.1
18               34.8                                      15.9
19               39.3                                      16.4
20               37.1                                      19.6
21               34.5                                      17.6
22               35.0                                      20.6
23               36.7                                      20.6
24               32.1                                      22.7
25               35.8                                      22.8
26               38.8                                      20.7
27               34.4                                      18.6
28               38.9                                      20.7
29               31.4                                      20.1
30               35.1                                      21.8
31               35.0                                      17.8
32               37.7                                      15.9
33               34.7                                      38.5
34               36.9                                      13.8
35               36.0                                      13.9
36               40.0                                      19.0
37               40.1                                      18.8

    Proportion_of_population_of_working-age,_2015  \
0                                            73.1
1                                            63.1
2                                            64.9
3                                            62.9
4                                            67.8
5                                            62.6
6                                            71.0
7                                            64.9
8                                            66.8
9                                            64.4
10                                           67.7
11                                           72.1
12                                           72.3
13                                           70.7
14                                           64.5
15                                           62.3
16                                           65.6
17                                           67.6
18                                           75.3
19                                           69.3
20                                           67.2
21                                           74.6
22                                           70.1
23                                           67.2
24                                           70.2
25                                           65.0
26                                           64.5
27                                           73.5
28                                           64.3
29                                           73.9
30                                           67.9
31                                           72.8
32                                           72.3
33                                           54.7
34                                           71.7
35                                           73.6
36                                           63.3
37                                           63.3

    Proportion_of_population_aged_65_and_over,_2015  \
0                                              15.5
1                                               9.7
2                                              14.0
3                                              16.6
4                                              11.3
5                                              17.5
6                                              11.7
7                                              13.0
8                                              11.8
9                                              12.8
10                                             10.4
11                                              7.2
12                                             10.3
13                                              9.3
14                                             15.0
15                                             18.4
16                                             13.1
17                                             11.3
18                                              8.8
19                                             14.3
20                                             13.2
21                                              7.8
22                                              9.3
23                                             12.2
24                                              7.0
25                                             12.2
26                                             14.8
27                                              7.9
28                                             15.1
29                                              6.0
30                                             10.3
31                                              9.3
32                                             11.7
33                                              6.8
34                                             14.5
35                                             12.5
36                                             17.7
37                                             17.8

   Net_internal_migration_(2015) Net_international_migration_(2015)  \
0                             -7                                665
1                          -1176                               2509
2                          -3379                               5407
3                            413                                760
4                          -7739                               7640
5                           1342                                796
6                          -2917                               7504
7                          -2605                               2438
8                          -6473                               4007
9                          -2077                               3164
10                          -407                               3366
11                          -738                               3359
12                         -3361                               2926
13                         -4233                               6675
14                         -3644                               2833
15                          1710                                604
16                         -1616                               4139
17                         -3994                               4425
18                         -1480                               6295
19                         -1741                               2234
20                          -226                               2547
21                         -1572                               4598
22                         -1536                               3683
23                         -2060                               1077
24                         -7273                              11182
25                         -2912                               3685
26                         -1192                                913
27                         -2438                               5497
28                           161                                568
29                         -2798                              10532
30                         -5787                               5814
31                         -2507                               1296
32                         -3273                              10763
33                       -45,138                             78,597
34                       -44,178                             82,685
35                       -77,535                            133,901
36                        -7,596                            313,240
37                             .                                  .

   Net_natural_change_(2015) %_of_resident_population_born_abroad_(2015)  \
0                         30                                           .
1                       2356                                        37.8
2                       2757                                        35.2
3                       1095                                        16.1
4                       3372                                        53.9
5                       1445                                        18.3
6                       1618                                        41.4
7                       3164                                        29.4
8                       3404                                        47.4
9                       2769                                          35
10                      2989                                        35.4
11                      3236                                        35.8
12                      1462                                        43.2
13                      2885                                        39.6
14                      1933                                        49.6
15                       785                                        10.9
16                      2458                                        32.4
17                      2871                                        46.3
18                      1819                                        36.6
19                      1047                                        51.9
20                      1207                                        29.8
21                      3130                                        32.2
22                      3239                                        34.9
23                      2029                                        37.4
24                      4616                                        54.1
25                      2960                                        40.2
26                      1391                                        23.7
27                      3304                                        38.4
28                      1269                                        23.1
29                      3509                                        38.6
30                      3125                                        37.2
31                      3574                                        32.8
32                      1522                                        49.8
33                    47,151                                        40.1
34                    45,788                                        34.2
35                    78,370                                        36.6
36                   165,096                                        14.6
37                         .                                        13.3

   Largest_migrant_population_by_country_of_birth_(2011)  \
0                                       United States
1                                             Nigeria
2                                               India
3                                             Nigeria
4                                               India
5                                               India
6                                       United States
7                                               India
8                                               India
9                                              Turkey
10                                            Nigeria
11                                             Turkey
12                                             France
13                                             Poland

In [36]:

df = pd.DataFrame(columns)

df.tail(84)

                                                    0
0                                                Code
1                                           Area_name
2                                 Inner/_Outer_London
3                        GLA_Population_Estimate_2017
4                         GLA_Household_Estimate_2017
5                              Inland_Area_(Hectares)
6               Population_density_(per_hectare)_2017
7                                   Average_Age,_2017
8            Proportion_of_population_aged_0-15,_2015
9       Proportion_of_population_of_working-age,_2015
10    Proportion_of_population_aged_65_and_over,_2015
11                      Net_internal_migration_(2015)
12                 Net_international_migration_(2015)
13                          Net_natural_change_(2015)
14        %_of_resident_population_born_abroad_(2015)
15  Largest_migrant_population_by_country_of_birth...
16             %_of_largest_migrant_population_(2011)
17  Second_largest_migrant_population_by_country_o...
18      %_of_second_largest_migrant_population_(2011)
19  Third_largest_migrant_population_by_country_of...
20       %_of_third_largest_migrant_population_(2011)
21            %_of_population_from_BAME_groups_(2016)
22  %_people_aged_3+_whose_main_language_is_not_En...
23  Overseas_nationals_entering_the_UK_(NINo),_(20...
24                New_migrant_(NINo)_rates,_(2015/16)
25  Largest_migrant_population_arrived_during_2015/16
26  Second_largest_migrant_population_arrived_duri...
27  Third_largest_migrant_population_arrived_durin...
28                         Employment_rate_(%)_(2015)
29                        Male_employment_rate_(2015)
30                      Female_employment_rate_(2015)
31                           Unemployment_rate_(2015)
32  Youth_Unemployment_(claimant)_rate_18-24_(Dec-15)
33  Proportion_of_16-18_year_olds_who_are_NEET_(%)...
34  Proportion_of_the_working-age_population_who_c...
35             %_working-age_with_a_disability_(2015)
36  Proportion_of_working_age_people_with_no_quali...
37  Proportion_of_working_age_with_degree_or_equiv...
38                           Gross_Annual_Pay,_(2016)
39                     Gross_Annual_Pay_-_Male_(2016)
40                   Gross_Annual_Pay_-_Female_(2016)
41  Modelled_Household_median_income_estimates_201...
42  %_adults_that_volunteered_in_past_12_months_(2...
43                 Number_of_jobs_by_workplace_(2014)
44    %_of_employment_that_is_in_public_sector_(2014)
45                                 Jobs_Density,_2015
46                  Number_of_active_businesses,_2015
47  Two-year_business_survival_rates_(started_in_2...
48        Crime_rates_per_thousand_population_2014/15
49               Fires_per_thousand_population_(2014)
50  Ambulance_incidents_per_hundred_population_(2014)
51                           Median_House_Price,_2015
52     Average_Band_D_Council_Tax_charge_(£),_2015/16
53              New_Homes_(net)_2015/16_(provisional)
54                     Homes_Owned_outright,_(2014)_%
55       Being_bought_with_mortgage_or_loan,_(2014)_%
56  Rented_from_Local_Authority_or_Housing_Associa...
57             Rented_from_Private_landlord,_(2014)_%
58                 %_of_area_that_is_Greenspace,_2005
59                      Total_carbon_emissions_(2014)
60            Household_Waste_Recycling_Rate,_2014/15
61                      Number_of_cars,_(2011_Census)
62        Number_of_cars_per_household,_(2011_Census)
63  %_of_adults_who_cycle_at_least_once_per_month,...
64  Average_Public_Transport_Accessibility_score,_...
65  Achievement_of_5_or_more_A*-_C_grades_at_GCSE_...
66              Rates_of_Children_Looked_After_(2016)
67  %_of_pupils_whose_first_language_is_not_Englis...
68  %_children_living_in_out-of-work_households_(2...
69                    Male_life_expectancy,_(2012-14)
70                  Female_life_expectancy,_(2012-14)
71                     Teenage_conception_rate_(2014)
72        Life_satisfaction_score_2011-14_(out_of_10)
73           Worthwhileness_score_2011-14_(out_of_10)
74                Happiness_score_2011-14_(out_of_10)
75                  Anxiety_score_2011-14_(out_of_10)
76           Childhood_Obesity_Prevalance_(%)_2015/16
77                  People_aged_17+_with_diabetes_(%)
78  Mortality_rate_from_causes_considered_preventa...
79                       Political_control_in_council
80  Proportion_of_seats_won_by_Conservatives_in_20...
81  Proportion_of_seats_won_by_Labour_in_2014_elec...
82  Proportion_of_seats_won_by_Lib_Dems_in_2014_el...
83                    Turnout_at_2014_local_elections

In [0]:
#headers =['Code', 'Area_name', 'Inner/_Outer_London','Average_Public_Transport_Accessibility_score,_2014','Life_satisfaction_score_2011-14_(out_of_10)','Worthwhileness_score_2011-14_(out_of_10)','Happiness_score_2011-14_(out_of_10)']

In [52]:
#this is for the clusterring of the area with best living index for a housing corporation !!!

lon_data_new=lon_data[['Code', 'Area_name','Average_Public_Transport_Accessibility_score,_2014','Crime_rates_per_thousand_population_2014/15','Life_satisfaction_score_2011-14_(out_of_10)','Worthwhileness_score_2011-14_(out_of_10)','Happiness_score_2011-14_(out_of_10)']]
lon_data_new.head(20)

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10)
0,E09000001,City of London,7.9,.,6.6,7.1,6.0
1,E09000002,Barking and Dagenham,3,83.4,7.1,7.6,7.1
2,E09000003,Barnet,3,62.7,7.5,7.8,7.4
3,E09000004,Bexley,2.6,51.8,7.4,7.7,7.2
4,E09000005,Brent,3.7,78.8,7.3,7.4,7.2
5,E09000006,Bromley,2.8,64.1,7.5,7.9,7.4
6,E09000007,Camden,5.7,123.5,7.1,7.4,7.1
7,E09000008,Croydon,3.2,77,7.1,7.6,7.2
8,E09000009,Ealing,3.3,75.5,7.3,7.6,7.3
9,E09000010,Enfield,3,69.4,7.3,7.6,7.3
10,E09000011,Greenwich,3.4,79.4,7.2,7.6,7.2
11,E09000012,Hackney,4.9,99.6,7.0,7.3,7.0
12,E09000013,Hammersmith and Fulham,4.7,113.2,7.4,7.5,7.2
13,E09000014,Haringey,4.3,90.2,7.2,7.5,7.2
14,E09000015,Harrow,2.9,50.4,7.3,7.4,7.3
15,E09000016,Havering,2.5,62.9,7.4,7.7,7.2
16,E09000017,Hillingdon,2.4,76.6,7.4,7.7,7.3
17,E09000018,Hounslow,3,79.2,7.3,7.6,7.4
18,E09000019,Islington,5.7,121.2,7.2,7.4,7.1
19,E09000020,Kensington and Chelsea,5.8,120.9,7.6,7.8,7.6

In [0]:
#A crime rate is calculated by dividing the number of reported crimes by the total population; the result is multiplied by 100,000. For example, in 2010 there were 58,100 robberies in California and the population was 38,826,898. This equals a robbery crime rate of 149.6 per 100,000 general population.

A crime rate is calculated by dividing the number of reported crimes by the total population; the result is multiplied by 100,000. For example, in 2010 there were 58,100 robberies in California and the population was 38,826,898. This equals a robbery crime rate of 149.6 per 100,000 general population.

In [61]:
#creating a data frame for the best for startung any business .
lon_data_business=lon_data[['Area_name','Unemployment_rate_(2015)','Gross_Annual_Pay,_(2016)','Number_of_active_businesses,_2015','Two-year_business_survival_rates_(started_in_2013)']]
lon_data_business.head(10)

,Area_name,Unemployment_rate_(2015),"Gross_Annual_Pay,_(2016)","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013)
0,City of London,.,.,26130,64.3
1,Barking and Dagenham,11,27886,6560,73.0
2,Barnet,8.5,33443,26190,73.8
3,Bexley,7.6,34350,9075,73.5
4,Brent,7.5,29812,15745,74.4
5,Bromley,5.3,37682,15695,78.6
6,Camden,4,39796,31385,73.6
7,Croydon,4.1,32696,15540,75.3
8,Ealing,5.8,31331,18700,75.8
9,Enfield,3.8,31603,13925,74.2

In [54]:
#defining the area names.
area_name=lon_data[['Area_name']]
area_name

                 Area_name
0           City of London
1     Barking and Dagenham
2                   Barnet
3                   Bexley
4                    Brent
5                  Bromley
6                   Camden
7                  Croydon
8                   Ealing
9                  Enfield
10               Greenwich
11                 Hackney
12  Hammersmith and Fulham
13                Haringey
14                  Harrow
15                Havering
16              Hillingdon
17                Hounslow
18               Islington
19  Kensington and Chelsea
20    Kingston upon Thames
21                 Lambeth
22                Lewisham
23                  Merton
24                  Newham
25               Redbridge
26    Richmond upon Thames
27               Southwark
28                  Sutton
29           Tower Hamlets
30          Waltham Forest
31              Wandsworth
32             Westminster
33            Inner London
34            Outer London
35                  London
36                 England
37          United Kingdom

In [48]:
!pip install geocoder
import geocoder
#finding the coordinates of the area names or neighbourhoods in london.
def get_latlng(neighborhood):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, England'.format(neighborhood))
        lat_lng_coords = g.latlng
    return lat_lng_coords

Requirement already satisfied: geocoder in /usr/local/lib/python3.6/dist-packages (1.38.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: ratelim in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)

In [0]:
coords = [ get_latlng(neighborhood) for neighborhood in area_name["Area_name"].tolist() ]

In [50]:
coords

[[51.52050000000003, -0.09742999999997437],
 [51.54393218800004, 0.1331566440000529],
 [51.62729399999999, -0.25375949999999536],
 [51.622832082632826, -0.08065551264637581],
 [51.60977558622067, -0.19467855915694893],
 [51.431820424666206, -0.016565652066046606],
 [51.53236000000004, -0.1279599999999732],
 [51.593209478792595, -0.0833901391886536],
 [51.51406000000003, -0.30072999999993044],
 [51.54002082084554, -0.07750147872409442],
 [51.48454000000004, 0.002750000000048658],
 [51.54505000000006, -0.05531999999993786],
 [51.4826899378211, -0.2129099233942567],
 [51.589264499999985, -0.10640475000000119],
 [51.513180000000034, -0.10697999999996455],
 [51.54460488121069, -0.14410476132484631],
 [51.484225357256605, -0.0964798815487847],
 [51.467220000000054, -0.3665299999999547],
 [51.532790000000034, -0.1061399999999253],
 [51.510380000000055, -0.3314699999999675],
 [51.41124000000008, -0.2910499999999274],
 [51.49084000000005, -0.11107999999995855],
 [51.459160000000054, -0.012129999999956453],
 [51.41564000000005, -0.19141999999993686],
 [51.517368000000005, 0.022979219414043944],
 [51.47577831920132, -0.0806984745511621],
 [51.480210069392385, -0.23718008107769753],
 [51.50541000000004, -0.08920999999998003],
 [51.490986627307564, -0.1674174491964031],
 [51.52022000000005, -0.054309999999929914],
 [51.581760660341324, -0.2769691387994021],
 [51.45682000000005, -0.1945199999999545],
 [51.50008000000008, -0.1280199999999354],
 [51.52617900000001, -0.15385940762846773],
 [51.5241903783052, -0.157045722017028],
 [51.50642000000005, -0.1272099999999341],
 [51.54645919323309, -0.16131163276385624],
 [51.50642000000005, -0.1272099999999341]]

In [0]:
# create temporary dataframe to populate the coordinates into Latitude and Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])

In [76]:
#there are two data frames now,london data new and london data business.
#merging the lat and long with the lon_data_new,lon_data_business,area_name.
lon_data_new['Latitude'] = df_coords['Latitude']
lon_data_new['Longitude'] = df_coords['Longitude']
lon_data_new.head(84)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Latitude,Longitude
0,E09000001,City of London,7.9,.,6.6,7.1,6.0,51.520500,-0.097430
1,E09000002,Barking and Dagenham,3,83.4,7.1,7.6,7.1,51.543932,0.133157
2,E09000003,Barnet,3,62.7,7.5,7.8,7.4,51.627294,-0.253759
3,E09000004,Bexley,2.6,51.8,7.4,7.7,7.2,51.622832,-0.080656
4,E09000005,Brent,3.7,78.8,7.3,7.4,7.2,51.609776,-0.194679
5,E09000006,Bromley,2.8,64.1,7.5,7.9,7.4,51.431820,-0.016566
6,E09000007,Camden,5.7,123.5,7.1,7.4,7.1,51.532360,-0.127960
7,E09000008,Croydon,3.2,77,7.1,7.6,7.2,51.593209,-0.083390
8,E09000009,Ealing,3.3,75.5,7.3,7.6,7.3,51.514060,-0.300730
9,E09000010,Enfield,3,69.4,7.3,7.6,7.3,51.540021,-0.077501
10,E09000011,Greenwich,3.4,79.4,7.2,7.6,7.2,51.484540,0.002750
11,E09000012,Hackney,4.9,99.6,7.0,7.3,7.0,51.545050,-0.055320
12,E09000013,Hammersmith and Fulham,4.7,113.2,7.4,7.5,7.2,51.482690,-0.212910
13,E09000014,Haringey,4.3,90.2,7.2,7.5,7.2,51.589264,-0.106405
14,E09000015,Harrow,2.9,50.4,7.3,7.4,7.3,51.513180,-0.106980
15,E09000016,Havering,2.5,62.9,7.4,7.7,7.2,51.544605,-0.144105
16,E09000017,Hillingdon,2.4,76.6,7.4,7.7,7.3,51.484225,-0.096480
17,E09000018,Hounslow,3,79.2,7.3,7.6,7.4,51.467220,-0.366530
18,E09000019,Islington,5.7,121.2,7.2,7.4,7.1,51.532790,-0.106140
19,E09000020,Kensington and Chelsea,5.8,120.9,7.6,7.8,7.6,51.510380,-0.331470
20,E09000021,Kingston upon Thames,2.9,58.5,7.3,7.7,7.4,51.411240,-0.291050
21,E09000022,Lambeth,5,104.6,7.1,7.5,7.2,51.490840,-0.111080
22,E09000023,Lewisham,4.1,77,7.2,7.6,7.3,51.459160,-0.012130
23,E09000024,Merton,3.4,59.7,7.3,7.5,7.1,51.415640,-0.191420
24,E09000025,Newham,3.9,90.8,7.1,7.4,7.2,51.517368,0.022979
25,E09000026,Redbridge,3,69.7,7.3,7.6,7.3,51.475778,-0.080698
26,E09000027,Richmond upon Thames,3.1,56.3,7.5,7.8,7.3,51.480210,-0.237180
27,E09000028,Southwark,4.9,100.6,7.5,7.7,7.3,51.505410,-0.089210
28,E09000029,Sutton,2.9,55.9,7.5,7.7,7.3,51.490987,-0.167417
29,E09000030,Tower Hamlets,5,99.9,7.2,7.4,7.2,51.520220,-0.054310
30,E09000031,Waltham Forest,3.6,78,7.2,7.5,7.1,51.581761,-0.276969
31,E09000032,Wandsworth,4.3,72.6,7.4,7.6,7.4,51.456820,-0.194520
32,E09000033,Westminster,6.5,212.4,7.3,7.5,7.1,51.500080,-0.128020
33,E13000001,Inner London,4.9,106.4,7.3,7.5,7.2,51.526179,-0.153859
34,E13000002,Outer London,3,69.4,7.3,7.6,7.3,51.524190,-0.157046
35,E12000007,London,3.8,84,7.3,7.6,7.2,51.506420,-0.127210
36,E92000001,England,.,65.7,7.5,7.7,7.3,51.546459,-0.161312
37,K02000001,United Kingdom,.,.,7.5,7.7,7.3,51.506420,-0.127210

In [62]:
#business_data _merging 
lon_data_business['Latitude'] = df_coords['Latitude']
lon_data_business['Longitude'] = df_coords['Longitude']
lon_data_business.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Area_name,Unemployment_rate_(2015),"Gross_Annual_Pay,_(2016)","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),Latitude,Longitude
0,City of London,.,.,26130,64.3,51.520500,-0.097430
1,Barking and Dagenham,11,27886,6560,73.0,51.543932,0.133157
2,Barnet,8.5,33443,26190,73.8,51.627294,-0.253759
3,Bexley,7.6,34350,9075,73.5,51.622832,-0.080656
4,Brent,7.5,29812,15745,74.4,51.609776,-0.194679

In [64]:
#we can use foursquare api for this .
area_name['Latitude'] = df_coords['Latitude']
area_name['Longitude'] = df_coords['Longitude']
area_name.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              Area_name   Latitude  Longitude
0        City of London  51.520500  -0.097430
1  Barking and Dagenham  51.543932   0.133157
2                Barnet  51.627294  -0.253759
3                Bexley  51.622832  -0.080656
4                 Brent  51.609776  -0.194679

In [0]:
area_name.to_csv("area_name.csv", index=False)

In [66]:
#creating amap of london with neighbourhoods 
# get the coordinates of londoan
address = 'London, England'

geolocator = Nominatim(user_agent="my-application")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London,England  {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London,England  51.5073219, -0.1276474.

In [68]:
# create map of london using latitude and longitude values
map_london = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, areaname in zip(area_name['Latitude'], area_name['Longitude'], area_name['Area_name']):
    label = '{}'.format(areaname)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(map_london)  
    
map_london

In [79]:
def convert_fill(lon_data_new):
    return lon_data_new.stack().apply(pd.to_numeric, errors='ignore').fillna(0).unstack()

convert_fill(lon_data_new)

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Latitude,Longitude
0,E09000001,City of London,7.9,.,6.6,7.1,6,51.5205,-0.09743
1,E09000002,Barking and Dagenham,3,83.4,7.1,7.6,7.1,51.5439,0.133157
2,E09000003,Barnet,3,62.7,7.5,7.8,7.4,51.6273,-0.253759
3,E09000004,Bexley,2.6,51.8,7.4,7.7,7.2,51.6228,-0.0806555
4,E09000005,Brent,3.7,78.8,7.3,7.4,7.2,51.6098,-0.194679
5,E09000006,Bromley,2.8,64.1,7.5,7.9,7.4,51.4318,-0.0165657
6,E09000007,Camden,5.7,123.5,7.1,7.4,7.1,51.5324,-0.12796
7,E09000008,Croydon,3.2,77,7.1,7.6,7.2,51.5932,-0.0833901
8,E09000009,Ealing,3.3,75.5,7.3,7.6,7.3,51.5141,-0.30073
9,E09000010,Enfield,3,69.4,7.3,7.6,7.3,51.54,-0.0775015
10,E09000011,Greenwich,3.4,79.4,7.2,7.6,7.2,51.4845,0.00275
11,E09000012,Hackney,4.9,99.6,7,7.3,7,51.5451,-0.05532
12,E09000013,Hammersmith and Fulham,4.7,113.2,7.4,7.5,7.2,51.4827,-0.21291
13,E09000014,Haringey,4.3,90.2,7.2,7.5,7.2,51.5893,-0.106405
14,E09000015,Harrow,2.9,50.4,7.3,7.4,7.3,51.5132,-0.10698
15,E09000016,Havering,2.5,62.9,7.4,7.7,7.2,51.5446,-0.144105
16,E09000017,Hillingdon,2.4,76.6,7.4,7.7,7.3,51.4842,-0.0964799
17,E09000018,Hounslow,3,79.2,7.3,7.6,7.4,51.4672,-0.36653
18,E09000019,Islington,5.7,121.2,7.2,7.4,7.1,51.5328,-0.10614
19,E09000020,Kensington and Chelsea,5.8,120.9,7.6,7.8,7.6,51.5104,-0.33147
20,E09000021,Kingston upon Thames,2.9,58.5,7.3,7.7,7.4,51.4112,-0.29105
21,E09000022,Lambeth,5,104.6,7.1,7.5,7.2,51.4908,-0.11108
22,E09000023,Lewisham,4.1,77,7.2,7.6,7.3,51.4592,-0.01213
23,E09000024,Merton,3.4,59.7,7.3,7.5,7.1,51.4156,-0.19142
24,E09000025,Newham,3.9,90.8,7.1,7.4,7.2,51.5174,0.0229792
25,E09000026,Redbridge,3,69.7,7.3,7.6,7.3,51.4758,-0.0806985
26,E09000027,Richmond upon Thames,3.1,56.3,7.5,7.8,7.3,51.4802,-0.23718
27,E09000028,Southwark,4.9,100.6,7.5,7.7,7.3,51.5054,-0.08921
28,E09000029,Sutton,2.9,55.9,7.5,7.7,7.3,51.491,-0.167417
29,E09000030,Tower Hamlets,5,99.9,7.2,7.4,7.2,51.5202,-0.05431
30,E09000031,Waltham Forest,3.6,78,7.2,7.5,7.1,51.5818,-0.276969
31,E09000032,Wandsworth,4.3,72.6,7.4,7.6,7.4,51.4568,-0.19452
32,E09000033,Westminster,6.5,212.4,7.3,7.5,7.1,51.5001,-0.12802
33,E13000001,Inner London,4.9,106.4,7.3,7.5,7.2,51.5262,-0.153859
34,E13000002,Outer London,3,69.4,7.3,7.6,7.3,51.5242,-0.157046
35,E12000007,London,3.8,84,7.3,7.6,7.2,51.5064,-0.12721
36,E92000001,England,.,65.7,7.5,7.7,7.3,51.5465,-0.161312
37,K02000001,United Kingdom,.,.,7.5,7.7,7.3,51.5064,-0.12721

In [90]:
#replacing all the dot values into 0 ;;;;
lon_data_new=lon_data_new[['Code', 'Area_name','Average_Public_Transport_Accessibility_score,_2014','Crime_rates_per_thousand_population_2014/15','Life_satisfaction_score_2011-14_(out_of_10)','Worthwhileness_score_2011-14_(out_of_10)','Happiness_score_2011-14_(out_of_10)']].replace('.',0)
lon_data_new.tail()

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10)
33,E13000001,Inner London,4.9,106.4,7.3,7.5,7.2
34,E13000002,Outer London,3,69.4,7.3,7.6,7.3
35,E12000007,London,3.8,84,7.3,7.6,7.2
36,E92000001,England,0,65.7,7.5,7.7,7.3
37,K02000001,United Kingdom,0,0,7.5,7.7,7.3

In [94]:
#clusterin the data with k maps .
num_clusters = 3
lon_drop=lon_data_new.drop(['Code','Area_name'],1)
k_means = KMeans(init="k-means++", n_clusters=num_clusters, n_init=12)
k_means.fit(lon_drop)
labels = k_means.labels_

print(labels)

[0 0 0 0 0 0 1 0 0 0 0 1 1 1 0 0 0 0 1 1 0 1 0 0 1 0 0 1 0 1 0 0 2 1 0 0 0
 0]

In [127]:
#here is the dataframe with cluster data ......................................................................
lon_data_new["Labels"] = labels
lon_data_new.head(5)
lon_data_new['Latitude'] = df_coords['Latitude']
lon_data_new['Longitude'] = df_coords['Longitude']
lon_data_new.head()

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Labels,Latitude,Longitude
0,E09000001,City of London,7.9,0,6.6,7.1,6.0,0,51.520500,-0.097430
1,E09000002,Barking and Dagenham,3,83.4,7.1,7.6,7.1,0,51.543932,0.133157
2,E09000003,Barnet,3,62.7,7.5,7.8,7.4,0,51.627294,-0.253759
3,E09000004,Bexley,2.6,51.8,7.4,7.7,7.2,0,51.622832,-0.080656
4,E09000005,Brent,3.7,78.8,7.3,7.4,7.2,0,51.609776,-0.194679

In [101]:
#To check out the centroid values by averaging the values in each clustter .
lon_data_mean=lon_data_new.groupby('Labels').mean()
lon_data_mean

,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10)
Labels,,,
0,7.307692,7.611538,7.223077
1,7.245455,7.490909,7.209091
2,7.300000,7.500000,7.100000

In [162]:
lon_data_mean_new=lon_data_mean.mean(axis=1)
lon_data_mean_new.to_frame()

               0
Labels
0       7.380769
1       7.315152
2       7.300000

In [130]:
lon_data_new.sort_values(["Labels"], inplace=True)
lon_data_new.head(37)

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Labels,Latitude,Longitude
0,E09000001,City of London,7.9,0,6.6,7.1,6.0,0,51.520500,-0.097430
26,E09000027,Richmond upon Thames,3.1,56.3,7.5,7.8,7.3,0,51.480210,-0.237180
20,E09000021,Kingston upon Thames,2.9,58.5,7.3,7.7,7.4,0,51.411240,-0.291050
22,E09000023,Lewisham,4.1,77,7.2,7.6,7.3,0,51.459160,-0.012130
23,E09000024,Merton,3.4,59.7,7.3,7.5,7.1,0,51.415640,-0.191420
25,E09000026,Redbridge,3,69.7,7.3,7.6,7.3,0,51.475778,-0.080698
35,E12000007,London,3.8,84,7.3,7.6,7.2,0,51.506420,-0.127210
28,E09000029,Sutton,2.9,55.9,7.5,7.7,7.3,0,51.490987,-0.167417
31,E09000032,Wandsworth,4.3,72.6,7.4,7.6,7.4,0,51.456820,-0.194520
34,E13000002,Outer London,3,69.4,7.3,7.6,7.3,0,51.524190,-0.157046
17,E09000018,Hounslow,3,79.2,7.3,7.6,7.4,0,51.467220,-0.366530
36,E92000001,England,0,65.7,7.5,7.7,7.3,0,51.546459,-0.161312
10,E09000011,Greenwich,3.4,79.4,7.2,7.6,7.2,0,51.484540,0.002750
30,E09000031,Waltham Forest,3.6,78,7.2,7.5,7.1,0,51.581761,-0.276969
15,E09000016,Havering,2.5,62.9,7.4,7.7,7.2,0,51.544605,-0.144105
16,E09000017,Hillingdon,2.4,76.6,7.4,7.7,7.3,0,51.484225,-0.096480
14,E09000015,Harrow,2.9,50.4,7.3,7.4,7.3,0,51.513180,-0.106980
7,E09000008,Croydon,3.2,77,7.1,7.6,7.2,0,51.593209,-0.083390
4,E09000005,Brent,3.7,78.8,7.3,7.4,7.2,0,51.609776,-0.194679
8,E09000009,Ealing,3.3,75.5,7.3,7.6,7.3,0,51.514060,-0.300730
5,E09000006,Bromley,2.8,64.1,7.5,7.9,7.4,0,51.431820,-0.016566
3,E09000004,Bexley,2.6,51.8,7.4,7.7,7.2,0,51.622832,-0.080656
2,E09000003,Barnet,3,62.7,7.5,7.8,7.4,0,51.627294,-0.253759
1,E09000002,Barking and Dagenham,3,83.4,7.1,7.6,7.1,0,51.543932,0.133157
37,K02000001,United Kingdom,0,0,7.5,7.7,7.3,0,51.506420,-0.127210
9,E09000010,Enfield,3,69.4,7.3,7.6,7.3,0,51.540021,-0.077501
18,E09000019,Islington,5.7,121.2,7.2,7.4,7.1,1,51.532790,-0.106140
13,E09000014,Haringey,4.3,90.2,7.2,7.5,7.2,1,51.589264,-0.106405
33,E13000001,Inner London,4.9,106.4,7.3,7.5,7.2,1,51.526179,-0.153859
29,E09000030,Tower Hamlets,5,99.9,7.2,7.4,7.2,1,51.520220,-0.054310
6,E09000007,Camden,5.7,123.5,7.1,7.4,7.1,1,51.532360,-0.127960
19,E09000020,Kensington and Chelsea,5.8,120.9,7.6,7.8,7.6,1,51.510380,-0.331470
11,E09000012,Hackney,4.9,99.6,7.0,7.3,7.0,1,51.545050,-0.055320
12,E09000013,Hammersmith and Fulham,4.7,113.2,7.4,7.5,7.2,1,51.482690,-0.212910
27,E09000028,Southwark,4.9,100.6,7.5,7.7,7.3,1,51.505410,-0.089210
24,E09000025,Newham,3.9,90.8,7.1,7.4,7.2,1,51.517368,0.022979
21,E09000022,Lambeth,5,104.6,7.1,7.5,7.2,1,51.490840,-0.111080

In [132]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(num_clusters)
ys = [i+x+(i*x)**2 for i in range(num_clusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(lon_data_new['Latitude'], lon_data_new['Longitude'], lon_data_new['Area_name'], lon_data_new['Labels']):
    label = folium.Popup(str(poi) + ' - Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [0]:
#===============================================

In [165]:
lon_data_new.loc[kl_merged['Cluster Labels'] == 0]

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Labels,Latitude,Longitude
20,E09000021,Kingston upon Thames,2.9,58.5,7.3,7.7,7.4,0,51.411240,-0.291050
22,E09000023,Lewisham,4.1,77,7.2,7.6,7.3,0,51.459160,-0.012130
23,E09000024,Merton,3.4,59.7,7.3,7.5,7.1,0,51.415640,-0.191420
35,E12000007,London,3.8,84,7.3,7.6,7.2,0,51.506420,-0.127210
30,E09000031,Waltham Forest,3.6,78,7.2,7.5,7.1,0,51.581761,-0.276969
15,E09000016,Havering,2.5,62.9,7.4,7.7,7.2,0,51.544605,-0.144105
14,E09000015,Harrow,2.9,50.4,7.3,7.4,7.3,0,51.513180,-0.106980
8,E09000009,Ealing,3.3,75.5,7.3,7.6,7.3,0,51.514060,-0.300730
3,E09000004,Bexley,2.6,51.8,7.4,7.7,7.2,0,51.622832,-0.080656
2,E09000003,Barnet,3,62.7,7.5,7.8,7.4,0,51.627294,-0.253759
9,E09000010,Enfield,3,69.4,7.3,7.6,7.3,0,51.540021,-0.077501
33,E13000001,Inner London,4.9,106.4,7.3,7.5,7.2,1,51.526179,-0.153859
6,E09000007,Camden,5.7,123.5,7.1,7.4,7.1,1,51.532360,-0.127960
12,E09000013,Hammersmith and Fulham,4.7,113.2,7.4,7.5,7.2,1,51.482690,-0.212910
27,E09000028,Southwark,4.9,100.6,7.5,7.7,7.3,1,51.505410,-0.089210
24,E09000025,Newham,3.9,90.8,7.1,7.4,7.2,1,51.517368,0.022979
21,E09000022,Lambeth,5,104.6,7.1,7.5,7.2,1,51.490840,-0.111080

In [166]:
lon_data_new.loc[kl_merged['Cluster Labels'] == 1]

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Labels,Latitude,Longitude
0,E09000001,City of London,7.9,0,6.6,7.1,6.0,0,51.520500,-0.097430
25,E09000026,Redbridge,3,69.7,7.3,7.6,7.3,0,51.475778,-0.080698
28,E09000029,Sutton,2.9,55.9,7.5,7.7,7.3,0,51.490987,-0.167417
31,E09000032,Wandsworth,4.3,72.6,7.4,7.6,7.4,0,51.456820,-0.194520
34,E13000002,Outer London,3,69.4,7.3,7.6,7.3,0,51.524190,-0.157046
10,E09000011,Greenwich,3.4,79.4,7.2,7.6,7.2,0,51.484540,0.002750
16,E09000017,Hillingdon,2.4,76.6,7.4,7.7,7.3,0,51.484225,-0.096480
4,E09000005,Brent,3.7,78.8,7.3,7.4,7.2,0,51.609776,-0.194679
5,E09000006,Bromley,2.8,64.1,7.5,7.9,7.4,0,51.431820,-0.016566
1,E09000002,Barking and Dagenham,3,83.4,7.1,7.6,7.1,0,51.543932,0.133157
37,K02000001,United Kingdom,0,0,7.5,7.7,7.3,0,51.506420,-0.127210
18,E09000019,Islington,5.7,121.2,7.2,7.4,7.1,1,51.532790,-0.106140
19,E09000020,Kensington and Chelsea,5.8,120.9,7.6,7.8,7.6,1,51.510380,-0.331470
32,E09000033,Westminster,6.5,212.4,7.3,7.5,7.1,2,51.500080,-0.128020

In [167]:

lon_data_new.loc[kl_merged['Cluster Labels'] == 2]

,Code,Area_name,"Average_Public_Transport_Accessibility_score,_2014",Crime_rates_per_thousand_population_2014/15,Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Labels,Latitude,Longitude
26,E09000027,Richmond upon Thames,3.1,56.3,7.5,7.8,7.3,0,51.480210,-0.237180
17,E09000018,Hounslow,3,79.2,7.3,7.6,7.4,0,51.467220,-0.366530
36,E92000001,England,0,65.7,7.5,7.7,7.3,0,51.546459,-0.161312
7,E09000008,Croydon,3.2,77,7.1,7.6,7.2,0,51.593209,-0.083390
13,E09000014,Haringey,4.3,90.2,7.2,7.5,7.2,1,51.589264,-0.106405
29,E09000030,Tower Hamlets,5,99.9,7.2,7.4,7.2,1,51.520220,-0.054310
11,E09000012,Hackney,4.9,99.6,7.0,7.3,7.0,1,51.545050,-0.055320


## **Obsevations:All the areas in the city of London ,England have been clustured into three regions as shown above in the map .**

## They have been clustured based on the ***happiness index,worthwhileness index ,lifesatisfaction*** indices that give the over all*** living index*** of these areas . 

The living indices of the clusturs as known from lon_data_new_mean gives us 

# 0	 =7.380769 ->
***BEST PLACE TO START LIVING IN THE CITY OF LONDON ***
#       1	=7.315152--->
**SOME WHAT LESSER SATISFACTION THAN THE CLUSTER 0**
#    2	=7.300000---->
**BETTER CHOOSE FROM FIRST TWO **.

# ***These clustures helps us to choose our living neighbourhood for higher living index**

This is very much needed infromation for almost every businesses that rely on human health and human wellbeing .

for eg:if people are healthy and happy ,there is more likely less crime rate so less no police personell required ,more schools ,more houses in demand in such areas ,more day care centres to name a few .

this is useful for mutiple businesses .



.

```

In [137]:
#using foursquare api .

# define Foursquare Credentials and Version
CLIENT_ID = 'ZSJ2X2HUCASUE3A5U11PJYZJMBLUQMRMVLYMDAWQQYLA2SD1' # your Foursquare ID
CLIENT_SECRET = '44ERGRE0VVSS4VVQCV231CPWIGIQQYI1AGV2EAXLXLLFBVBF' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: ZSJ2X2HUCASUE3A5U11PJYZJMBLUQMRMVLYMDAWQQYLA2SD1
CLIENT_SECRET:44ERGRE0VVSS4VVQCV231CPWIGIQQYI1AGV2EAXLXLLFBVBF

In [0]:
#Now, let's get the top 100 venues that are within a radius of 2000 meters.#
radius = 2000
LIMIT = 100

venues = []

for lat, long, neighborhood in zip(area_name['Latitude'], area_name['Longitude'], area_name['Area_name']):
    
    # create the API request URL
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    # make the GET request
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    # return only relevant information for each nearby venue
    for venue in results:
        venues.append((
            neighborhood,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [139]:
# convert the venues list into a new DataFrame
venues_df = pd.DataFrame(venues)

# define the column names
venues_df.columns = ['Area_name', 'Latitude', 'Longitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']

print(venues_df.shape)
venues_df.head()

(3559, 7)

,Area_name,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,City of London,51.5205,-0.09743,Barbican Centre,51.519855,-0.093942,Performing Arts Venue
1,City of London,51.5205,-0.09743,Barbican Art Gallery,51.519800,-0.093969,Art Gallery
2,City of London,51.5205,-0.09743,Barbican Concert Hall,51.519632,-0.093661,Concert Hall
3,City of London,51.5205,-0.09743,Barbican Theatre,51.519722,-0.093606,Theater
4,City of London,51.5205,-0.09743,Barbican Cinemas 2&3,51.521073,-0.092979,Indie Movie Theater

In [141]:
venues_df.groupby(["Area_name"]).count()

,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
Area_name,,,,,,
Barking and Dagenham,41,41,41,41,41,41
Barnet,42,42,42,42,42,42
Bexley,81,81,81,81,81,81
Brent,90,90,90,90,90,90
Bromley,58,58,58,58,58,58
Camden,100,100,100,100,100,100
City of London,100,100,100,100,100,100
Croydon,100,100,100,100,100,100
Ealing,100,100,100,100,100,100
Enfield,100,100,100,100,100,100
England,100,100,100,100,100,100
Greenwich,100,100,100,100,100,100
Hackney,100,100,100,100,100,100
Hammersmith and Fulham,100,100,100,100,100,100
Haringey,100,100,100,100,100,100
Harrow,100,100,100,100,100,100
Havering,100,100,100,100,100,100
Hillingdon,100,100,100,100,100,100
Hounslow,87,87,87,87,87,87
Inner London,100,100,100,100,100,100
Islington,100,100,100,100,100,100
Kensington and Chelsea,100,100,100,100,100,100
Kingston upon Thames,100,100,100,100,100,100
Lambeth,100,100,100,100,100,100
Lewisham,100,100,100,100,100,100
London,100,100,100,100,100,100
Merton,100,100,100,100,100,100
Newham,93,93,93,93,93,93
Outer London,100,100,100,100,100,100
Redbridge,100,100,100,100,100,100
Richmond upon Thames,100,100,100,100,100,100
Southwark,100,100,100,100,100,100
Sutton,100,100,100,100,100,100
Tower Hamlets,100,100,100,100,100,100
United Kingdom,100,100,100,100,100,100
Waltham Forest,67,67,67,67,67,67
Wandsworth,100,100,100,100,100,100
Westminster,100,100,100,100,100,100

In [142]:
# print out the list of categories
venues_df['VenueCategory'].unique()[:50]

array(['Performing Arts Venue', 'Art Gallery', 'Concert Hall', 'Theater',
       'Indie Movie Theater', 'Gym / Fitness Center', 'Bar',
       'Street Food Gathering', 'Italian Restaurant', 'Hotel',
       'Vietnamese Restaurant', 'Salad Place', 'Park', 'Sushi Restaurant',
       'Falafel Restaurant', 'Beer Bar', 'Pub', 'Breakfast Spot',
       'Coffee Shop', 'Roof Deck', 'Whisky Bar', 'Grocery Store',
       'Cocktail Bar', 'Flea Market', 'Event Space', 'Steakhouse',
       'Boxing Gym', 'Distillery', 'Butcher', 'Souvlaki Shop', 'Market',
       'Sports Bar', 'Middle Eastern Restaurant', 'Bookstore', 'Spa',
       'Bike Shop', 'Japanese Restaurant', 'Pizza Place',
       'Paper / Office Supplies Store', 'Circus School',
       'Argentinian Restaurant', 'Canal', 'Speakeasy', 'Boutique', 'Café',
       'Mini Golf', 'History Museum', 'Hotel Bar', 'Art Museum',
       'Scenic Lookout'], dtype=object)

In [149]:
# check if the results contain "Shopping Mall"
"Bar" in venues_df['VenueCategory'].unique()

True

In [147]:
# one hot encoding
kl_onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
kl_onehot['Area_name'] = venues_df['Area_name'] 

# move neighborhood column to the first column
fixed_columns = [kl_onehot.columns[-1]] + list(kl_onehot.columns[:-1])
kl_onehot = kl_onehot[fixed_columns]

print(kl_onehot.shape)
kl_onehot.head()

(3559, 286)

,Area_name,Afghan Restaurant,African Restaurant,Airport Terminal,American Restaurant,Antique Shop,Arepa Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Auto Garage,BBQ Joint,Bagel Shop,Bakery,Bar,Beach,Bed & Breakfast,Beer Bar,Beer Garden,Beer Store,Bike Shop,Bistro,Bookstore,Boutique,Bowling Alley,Boxing Gym,Brazilian Restaurant,Breakfast Spot,Brewery,Bridge,Bubble Tea Shop,Building,Burger Joint,Burrito Place,Bus Stop,Butcher,Café,Cajun / Creole Restaurant,Campground,Canal,Canal Lock,Caribbean Restaurant,Castle,Caucasian Restaurant,Chaat Place,Cheese Shop,Chinese Restaurant,Chocolate Shop,Church,Circus School,Climbing Gym,Clothing Store,Cocktail Bar,Coffee Shop,College Quad,Colombian Restaurant,Comedy Club,Comic Shop,Community Center,Concert Hall,Convenience Store,Cosmetics Shop,Coworking Space,Creperie,Cricket Ground,Cupcake Shop,Cycle Studio,Dance Studio,Deli / Bodega,Department Store,Design Studio,Dessert Shop,Diner,Discount Store,Distillery,Dive Bar,Doner Restaurant,Donut Shop,Dumpling Restaurant,Eastern European Restaurant,Electronics Store,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Fabric Shop,Falafel Restaurant,Farm,Farmers Market,Fast Food Restaurant,Fish & Chips Shop,Fish Market,Flea Market,Flower Shop,Food & Drink Shop,Food Court,Food Stand,Food Truck,Fountain,French Restaurant,Fried Chicken Joint,Fruit & Vegetable Store,Furniture / Home Store,Gaming Cafe,Garden,Garden Center,Gas Station,Gastropub,Gay Bar,General Entertainment,German Restaurant,Gift Shop,Go Kart Track,Golf Course,Golf Driving Range,Gourmet Shop,Greek Restaurant,Grilled Meat Restaurant,Grocery Store,Gym,Gym / Fitness Center,Gymnastics Gym,Harbor / Marina,Hardware Store,Health Food Store,Hill,Historic Site,History Museum,Hobby Shop,Hockey Field,Hookah Bar,Hostel,Hotel,Hotel Bar,Hunan Restaurant,Ice Cream Shop,Indian Restaurant,Indie Movie Theater,Indie Theater,Indoor Play Area,Italian Restaurant,Japanese Curry Restaurant,Japanese Restaurant,Jazz Club,Juice Bar,Kebab Restaurant,Kids Store,Korean Restaurant,Lake,Laser Tag,Latin American Restaurant,Lebanese Restaurant,Library,Light Rail Station,Lighthouse,Lingerie Store,Liquor Store,Lounge,Malay Restaurant,Market,Martial Arts Dojo,Mediterranean Restaurant,Metro Station,Mexican Restaurant,Middle Eastern Restaurant,Mini Golf,Modern European Restaurant,Monument / Landmark,Motorcycle Shop,Movie Theater,Multiplex,Museum,Music Store,Music Venue,Nail Salon,Nature Preserve,Neighborhood,Nightclub,Noodle House,North Indian Restaurant,Observatory,Opera House,Organic Grocery,Outdoor Supply Store,Pakistani Restaurant,Palace,Paper / Office Supplies Store,Park,Pedestrian Plaza,Performing Arts Venue,Perfume Shop,Persian Restaurant,Peruvian Restaurant,Pet Store,Pharmacy,Photography Studio,Pie Shop,Pier,Pilates Studio,Pizza Place,Planetarium,Platform,Playground,Plaza,Polish Restaurant,Pool,Pool Hall,Portuguese Restaurant,Print Shop,Pub,Public Art,Rafting,Ramen Restaurant,Record Shop,Recording Studio,Recreation Center,Restaurant,Rock Club,Roof Deck,Rugby Pitch,Sake Bar,Salad Place,Salon / Barbershop,Sandwich Place,Scenic Lookout,School,Science Museum,Seafood Restaurant,Shoe Store,Shopping Mall,Shopping Plaza,Skate Park,Skating Rink,Snack Place,Soccer Field,Soccer Stadium,Social Club,South American Restaurant,South Indian Restaurant,Southern / Soul Food Restaurant,Souvlaki Shop,Spa,Spanish Restaurant,Speakeasy,Sporting Goods Shop,Sports Bar,Sports Club,Sri Lankan Restaurant,Stationery Store,Steakhouse,Street Art,Street Food Gathering,Supermarket,Sushi Restaurant,Taco Place,Tapas Restaurant,Tea Room,Tennis Court,Tennis Stadium,Thai Restaurant,Theater,Thrift / Vintage Store,Tourist Information Center,Toy / Game Store,Trail,Train Station,Tram Station,Turkish Restaurant,Udon Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Waterfront,Whisky Bar,Wine Bar,Wine Shop,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,City of London,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [148]:
#Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category


kl_grouped = kl_onehot.groupby(["Area_name"]).mean().reset_index()

print(kl_grouped.shape)
kl_grouped

(38, 286)

,Area_name,Afghan Restaurant,African Restaurant,Airport Terminal,American Restaurant,Antique Shop,Arepa Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Auto Garage,BBQ Joint,Bagel Shop,Bakery,Bar,Beach,Bed & Breakfast,Beer Bar,Beer Garden,Beer Store,Bike Shop,Bistro,Bookstore,Boutique,Bowling Alley,Boxing Gym,Brazilian Restaurant,Breakfast Spot,Brewery,Bridge,Bubble Tea Shop,Building,Burger Joint,Burrito Place,Bus Stop,Butcher,Café,Cajun / Creole Restaurant,Campground,Canal,Canal Lock,Caribbean Restaurant,Castle,Caucasian Restaurant,Chaat Place,Cheese Shop,Chinese Restaurant,Chocolate Shop,Church,Circus School,Climbing Gym,Clothing Store,Cocktail Bar,Coffee Shop,College Quad,Colombian Restaurant,Comedy Club,Comic Shop,Community Center,Concert Hall,Convenience Store,Cosmetics Shop,Coworking Space,Creperie,Cricket Ground,Cupcake Shop,Cycle Studio,Dance Studio,Deli / Bodega,Department Store,Design Studio,Dessert Shop,Diner,Discount Store,Distillery,Dive Bar,Doner Restaurant,Donut Shop,Dumpling Restaurant,Eastern European Restaurant,Electronics Store,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Fabric Shop,Falafel Restaurant,Farm,Farmers Market,Fast Food Restaurant,Fish & Chips Shop,Fish Market,Flea Market,Flower Shop,Food & Drink Shop,Food Court,Food Stand,Food Truck,Fountain,French Restaurant,Fried Chicken Joint,Fruit & Vegetable Store,Furniture / Home Store,Gaming Cafe,Garden,Garden Center,Gas Station,Gastropub,Gay Bar,General Entertainment,German Restaurant,Gift Shop,Go Kart Track,Golf Course,Golf Driving Range,Gourmet Shop,Greek Restaurant,Grilled Meat Restaurant,Grocery Store,Gym,Gym / Fitness Center,Gymnastics Gym,Harbor / Marina,Hardware Store,Health Food Store,Hill,Historic Site,History Museum,Hobby Shop,Hockey Field,Hookah Bar,Hostel,Hotel,Hotel Bar,Hunan Restaurant,Ice Cream Shop,Indian Restaurant,Indie Movie Theater,Indie Theater,Indoor Play Area,Italian Restaurant,Japanese Curry Restaurant,Japanese Restaurant,Jazz Club,Juice Bar,Kebab Restaurant,Kids Store,Korean Restaurant,Lake,Laser Tag,Latin American Restaurant,Lebanese Restaurant,Library,Light Rail Station,Lighthouse,Lingerie Store,Liquor Store,Lounge,Malay Restaurant,Market,Martial Arts Dojo,Mediterranean Restaurant,Metro Station,Mexican Restaurant,Middle Eastern Restaurant,Mini Golf,Modern European Restaurant,Monument / Landmark,Motorcycle Shop,Movie Theater,Multiplex,Museum,Music Store,Music Venue,Nail Salon,Nature Preserve,Neighborhood,Nightclub,Noodle House,North Indian Restaurant,Observatory,Opera House,Organic Grocery,Outdoor Supply Store,Pakistani Restaurant,Palace,Paper / Office Supplies Store,Park,Pedestrian Plaza,Performing Arts Venue,Perfume Shop,Persian Restaurant,Peruvian Restaurant,Pet Store,Pharmacy,Photography Studio,Pie Shop,Pier,Pilates Studio,Pizza Place,Planetarium,Platform,Playground,Plaza,Polish Restaurant,Pool,Pool Hall,Portuguese Restaurant,Print Shop,Pub,Public Art,Rafting,Ramen Restaurant,Record Shop,Recording Studio,Recreation Center,Restaurant,Rock Club,Roof Deck,Rugby Pitch,Sake Bar,Salad Place,Salon / Barbershop,Sandwich Place,Scenic Lookout,School,Science Museum,Seafood Restaurant,Shoe Store,Shopping Mall,Shopping Plaza,Skate Park,Skating Rink,Snack Place,Soccer Field,Soccer Stadium,Social Club,South American Restaurant,South Indian Restaurant,Southern / Soul Food Restaurant,Souvlaki Shop,Spa,Spanish Restaurant,Speakeasy,Sporting Goods Shop,Sports Bar,Sports Club,Sri Lankan Restaurant,Stationery Store,Steakhouse,Street Art,Street Food Gathering,Supermarket,Sushi Restaurant,Taco Place,Tapas Restaurant,Tea Room,Tennis Court,Tennis Stadium,Thai Restaurant,Theater,Thrift / Vintage Store,Tourist Information Center,Toy / Game Store,Trail,Train Station,Tram Station,Turkish Restaurant,Udon Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Waterfront,Whisky Bar,Wine Bar,Wine Shop,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,Barking and Dagenham,0.00,0.00,0.000000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.00,0.024390,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.00,0.073171,0.00,0.000000,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.024390,0.00,0.00,0.00,0.00,0.048780,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.024390,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.048780,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.024390,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.02439,0.000000,0.00,0.00,0.000000,0.00,0.097561,0.024390,0.024390,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.02439,0.00,0.000000,0.000000,0.00,0.024390,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,0.02439,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.00,0.000000,0.024390,0.00,0.000000,0.00,0.00,0.00,0.00,0.024390,0.00,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.073171,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.024390,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.048780,0.00,0.000000,0.00,0.00,0.00,0.02439,0.000000,0.00,0.00,0.02439,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.024390,0.00,0.02439,0.00,0.00,0.073171,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.024390,0.00,0.00,0.00,0.00000,0.00000,0.00,0.00,0.073171,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.024390,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00
1,Barnet,0.00,0.00,0.000000,0.000000,0.00,0.00,0.02381,0.00,0.00,0.00,0.000000,0.023810,0.000000,0.00,0.02381,0.023810,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.023810,0.00,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.023810,0.00,0.000000,0.00,0.023810,0.00,0.02381,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.023810,0.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.023810,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02381,0.00,0.00,0.00,0.00,0.00,0.023810,0.00,0.023810,0.023810,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00000,0.023810,0.00,0.00,0.000000,0.00,0.142857,0.000000,0.023810,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.023810,0.000000,0.00,0.000000,0.023810,0.00,0.00,0.000000,0.023810,0.00,0.000000,0.00,0.02381,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.047619,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.023810,0.000000,0.00,0.000000,0.00,0.023810,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.071429,0.00,0.000000,0.00,0.00,0.00,0.00000,0.047619,0.00,0.00,0.00000,0.00,0.00,0.02381,0.023810,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.02381,0.02381,0.00,0.00,0.047619,0.023810,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00
2,Bexley,0.00,0.00,0.000000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00000,0.024691,0.024691,0.00,0.000000,0.00,0.00,0.00,0.00,0.012346,0.012346,0.00,0.000000,0.00,0.00,0.012346,0.00,0.000000,0.00,0.00,0.000000,0.00,0.012346,0.00,0.037037,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.111111,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.012346,0.000000,0.00,0.000000,0.000000,0.012346,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.049383,0.012346,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.012346,0.00,0.074074,0.012346,0.024691,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.024691,0.000000,0.00,0.012346,0.000000,0.00,0.00,0.000000,0.037037,0.00,0.000000,0.00,0.00000,0.012346,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.00,0.012346,0.000000,0.00,0.012346,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.012346,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.049383,0.00,0.012346,0.00,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.061728,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.086420,0.00,0.000000,0.00,0.00,0.00,0.00000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00000,0.024691,0.000000,0.00,0.000000,0.000000,0.00,0.012346,0.00,0.00000,0.00,0.00,0.012346,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00000,0.00000,0.00,0.00,0.049383,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.024691,0.00,0.000000,0.012346,0.012346,0.00,0.061728,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00
3,Brent,0.00,0.00,0.000000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00,0.011111,0.000000,0.011111,0.00,0.00000,0.033333,0.011111,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.022222,0.00,0.011111,0.00,0.00,0.011111,0.00,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.066667,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.011111,0.00,0.00,0.00,0.00,0.000000,0.000000,0.100000,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.011111,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.022222,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.011111,0.011111,0.00,0.00,0.00,0.011111,0.00000,0.022222,0.00,0.00,0.000000,0.00,0.044444,0.000000,0.044444,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.00000,0.00,0.000000,0.011111,0.00,0.011111,0.000000,0.00,0.000000,0.022222,0.00,0.00,0.000000,0.022222,0.00,0.033333,0.00,0.00000,0.000000,0.00,0.011111,0.00,0.000000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.00,0.011111,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.033333,0.00,0.000000,0.00,0.011111,0.00,0.000000,0.033333,0.011111,0.00,0.000000,0.00,0.033333,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.011111,0.00,0.033333,0.00,0.000000,0.00,0.00,0.00,0.00000,0.011111,0.00,0.00,0.00000,0.00,0.00,0.00000,0.022222,0.000000,0.00,0.000000,0.011111,0.00,0.000000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00000,0.00000,0.00,0.00,0.066667,0.011111,0.00,0.000000,0.011111,0.00,0.00,0.011111,0.011111,0.000000,0.00,0.011111,0.000000,0.000000,0.00,0.066667,0.00,0.00,0.000000,0.011111,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00
4,Bromley,0.00,0.00,0.000000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00000,0.017241,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.034483,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.017241,0.017241,0.051724,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.00,0.017241,0.000000,0.017241,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.051724,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.017241,0.000000,0.017241,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.017241,0.00,0.155172,0.000000,0.000000,0.00,0.000000,0.017241,0.00,0.00,0.017241,0.00000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.017241,0.034483,0.00,0.017241,0.00,0.00000,0.000000,0.00,0.000000,0.00,0.017241,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.086207,0.00,0.000000,0.00,0.000000,0.00,0.017241,0.017241,0.000000,0.00,0.000000,0.00,0.017241,0.00,0.017241,0.00,0.00,0.00,0.00,0.00,0.017241,0.00,0.051724,0.00,0.000000,0.00,0.00,0.00,0.00000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00000,0.017241,0.000000,0.00,0.000000,0.000000,0.00,0.017241,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00000,0.00000,0.00,0.00,0.086207,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.034483,0.034483,0.00,0.017241,0.00,0.00,0.000000,0.000000,0.017241,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00
5,Camden,0.00,0.00,0.000000,0.010000,0.00,0.00,0.00000,0.02,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00000,0.020000,0.000000,0.00,0.000000,0.02,0.00,0.00,0.00,0.000000,0.030000,0.00,0.000000,0.00,0.01,0.010000,0.01,0.000000,0.00,0.01,0.010000,0.00,0.000000,0.00,0.070000,0.00,0.00000,0.02,0.01,0.00,0.00,0.01,0.00,0.01,0.000000,0.00,0.01,0.00,0.00,0.000000,0.020000,0.050000,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.010000,0.000000,0.00,0.000000,0.010000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00,0.00,0.02,0.00,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.010000,0.010000,0.00,0.00,0.000000,0.000000,0.010000,0.00,0.00,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.000000,0.00,0.030000,0.010000,0.010000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.02000,0.00,0.000000,0.000000,0.00,0.000000,0.010000,0.01,0.000000,0.010000,0.00,0.00,0.000000,0.020000,0.00,0.000000,0.01,0.00000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.00,0.020000,0.00,0.03,0.00,0.010000,0.000000,0.01,0.020000,0.00,0.00,0.00,0.00,0.020000,0.00,0.01,0.00,0.01,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.01,0.040000,0.01,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.050000,0.00,0.000000,0.00,0.03,0.00,0.00,0.00,0.000000,0.00,0.010000,0.00,0.000000,0.00,0.00,0.00,0.00000,0.000000,0.01,0.00,0.00000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.010000,0.000000,0.00,0.000000,0.01,0.00000,0.00,0.01,0.000000,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00000,0.01000,0.00,0.00,0.010000,0.000000,0.00,0.000000,0.010000,0.00,0.00,0.000000,0.010000,0.000000,0.00,0.000000,0.000000,0.010000,0.00,0.010000,0.00,0.02,0.000000,0.000000,0.000000,0.00,0.00,0.020000,0.00,0.000000,0.00,0.01,0.00,0.01
6,City of London,0.00,0.00,0.000000,0.000000,0.00,0.00,0.01000,0.02,0.02,0.00,0.000000,0.000000,0.000000,0.00,0.00000,0.000000,0.020000,0.00,0.000000,0.01,0.00,0.00,0.01,0.000000,0.020000,0.01,0.000000,0.01,0.00,0.020000,0.00,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.01,0.030000,0.00,0.00000,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.01,0.00,0.000000,0.040000,0.100000,0.00,0.00,0.00,0.00,0.00,0.01,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00,0.01,0.00,0.00,0.03,0.000000,0.00,0.000000,0.000000,0.00,0.01,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.000000,0.00,0.010000,0.000000,0.060000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.02000,0.00,0.000000,0.000000,0.00,0.070000,0.010000,0.00,0.000000,0.010000,0.01,0.00,0.000000,0.020000,0.00,0.010000,0.00,0.00000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.01,0.00,0.000000,0.000000,0.00,0.010000,0.01,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.01,0.020000,0.00,0.010000,0.00,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.030000,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.040000,0.00,0.000000,0.00,0.00,0.00,0.00000,0.010000,0.00,0.01,0.00000,0.00,0.02,0.00000,0.000000,0.010000,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.00,0.01,0.000000,0.01,0.00,0.00,0.00000,0.02000,0.00,0.02,0.000000,0.010000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.030000,0.000000,0.00,0.000000,0.010000,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.020000,0.000000,0.00,0.02,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00
7,Croydon,0.00,0.00,0.000000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.01000,0.010000,0.030000,0.00,0.000000,0.00,0.01,0.00,0.00,0.000000,0.010000,0.00,0.000000,0.00,0.00,0.000000,0.02,0.000000,0.00,0.00,0.010000,0.00,0.000000,0.01,0.070000,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.010000,0.00,0.00,0.00,0.01,0.000000,0.000000,0.040000,0.00,0.00,0.00,0.00,0.00,0.01,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.010000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.000000,0.00,0.010000,0.000000,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.000000,0.000000,0.010000,0.00,0.00,0.000000,0.010000,0.000000,0.00,0.00,0.00,0.010000,0.00000,0.000000,0.00,0.00,0.000000,0.00,0.040000,0.020000,0.030000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.00000,0.00,0.000000,0.030000,0.00,0.000000,0.010000,0.00,0.000000,0.020000,0.00,0.01,0.000000,0.020000,0.00,0.000000,0.00,0.00000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.00,0.030000,0.00,0.01,0.00,0.040000,0.000000,0.00,0.010000,0.00,0.00,0.00,0.00,0.000000,0.00,0.01,0.00,0.00,0.000000,0.000000,0.00,0.020000,0.00,0.00,0.00,0.00,0.01,0.000000,0.00,0.00,0.00,0.050000,0.00,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.010000,0.00,0.000000,0.00,0.00,0.01,0.00,0.00,0.000000,0.00,0.100000,0.00,0.000000,0.00,0.00,0.00,0.00000,0.000000,0.00,0.00,0.00000,0.00,0.00,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.00000,0.00,0.00,0.000000,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.010000,0.01,0.00,0.00,0.00000,0.01000,0.00,0.00,0.020000,0.000000,0.00,0.010000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.010000,0.00,0.120000,0.00,0.00,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.00,0.00

In [150]:
len(kl_grouped[kl_grouped["Bar"] > 0])

24

In [168]:
lon_bar = kl_grouped[["Area_name","Bar"]]
lon_bar.head(37)

                 Area_name       Bar
0     Barking and Dagenham  0.000000
1                   Barnet  0.000000
2                   Bexley  0.024691
3                    Brent  0.011111
4                  Bromley  0.000000
5                   Camden  0.000000
6           City of London  0.020000
7                  Croydon  0.030000
8                   Ealing  0.010000
9                  Enfield  0.010000
10                 England  0.000000
11               Greenwich  0.040000
12                 Hackney  0.010000
13  Hammersmith and Fulham  0.030000
14                Haringey  0.020000
15                  Harrow  0.010000
16                Havering  0.000000
17              Hillingdon  0.040000
18                Hounslow  0.000000
19            Inner London  0.000000
20               Islington  0.010000
21  Kensington and Chelsea  0.010000
22    Kingston upon Thames  0.010000
23                 Lambeth  0.010000
24                Lewisham  0.010000
25                  London  0.000000
26                  Merton  0.040000
27                  Newham  0.021505
28            Outer London  0.000000
29               Redbridge  0.040000
30    Richmond upon Thames  0.020000
31               Southwark  0.000000
32                  Sutton  0.000000
33           Tower Hamlets  0.020000
34          United Kingdom  0.000000
35          Waltham Forest  0.014925
36              Wandsworth  0.030000

In [154]:
# set number of clusters
kclusters = 3

kl_clustering = lon_bar.drop(["Area_name"], 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(kl_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 1, 0, 0, 1, 1, 0, 2, 0, 0], dtype=int32)

In [0]:
# create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.
kl_merged = lon_bar.copy()

# add clustering labels
kl_merged["Cluster Labels"] = kmeans.labels_

In [156]:
kl_merged.rename(columns={"Area_name": "Neighborhood"}, inplace=True)
kl_merged.head()

           Neighborhood       Bar  Cluster Labels
0  Barking and Dagenham  0.000000               1
1                Barnet  0.000000               1
2                Bexley  0.024691               0
3                 Brent  0.011111               0
4               Bromley  0.000000               1

In [159]:
kl_merged = kl_merged.join(area_name.set_index('Area_name'), on="Neighborhood")

print(kl_merged.shape)
kl_merged.head() # check the last columns!

(38, 5)

           Neighborhood       Bar  Cluster Labels   Latitude  Longitude
0  Barking and Dagenham  0.000000               1  51.543932   0.133157
1                Barnet  0.000000               1  51.627294  -0.253759
2                Bexley  0.024691               0  51.622832  -0.080656
3                 Brent  0.011111               0  51.609776  -0.194679
4               Bromley  0.000000               1  51.431820  -0.016566

In [160]:
kl_merged.sort_values(["Cluster Labels"], inplace=True)
kl_merged

              Neighborhood       Bar  Cluster Labels   Latitude  Longitude
30    Richmond upon Thames  0.020000               0  51.480210  -0.237180
20               Islington  0.010000               0  51.532790  -0.106140
23                 Lambeth  0.010000               0  51.490840  -0.111080
24                Lewisham  0.010000               0  51.459160  -0.012130
27                  Newham  0.021505               0  51.517368   0.022979
15                  Harrow  0.010000               0  51.513180  -0.106980
14                Haringey  0.020000               0  51.589264  -0.106405
12                 Hackney  0.010000               0  51.545050  -0.055320
21  Kensington and Chelsea  0.010000               0  51.510380  -0.331470
22    Kingston upon Thames  0.010000               0  51.411240  -0.291050
8                   Ealing  0.010000               0  51.514060  -0.300730
6           City of London  0.020000               0  51.520500  -0.097430
33           Tower Hamlets  0.020000               0  51.520220  -0.054310
3                    Brent  0.011111               0  51.609776  -0.194679
2                   Bexley  0.024691               0  51.622832  -0.080656
35          Waltham Forest  0.014925               0  51.581761  -0.276969
9                  Enfield  0.010000               0  51.540021  -0.077501
31               Southwark  0.000000               1  51.505410  -0.089210
32                  Sutton  0.000000               1  51.490987  -0.167417
28            Outer London  0.000000               1  51.524190  -0.157046
34          United Kingdom  0.000000               1  51.506420  -0.127210
25                  London  0.000000               1  51.506420  -0.127210
0     Barking and Dagenham  0.000000               1  51.543932   0.133157
18                Hounslow  0.000000               1  51.467220  -0.366530
16                Havering  0.000000               1  51.544605  -0.144105
10                 England  0.000000               1  51.546459  -0.161312
5                   Camden  0.000000               1  51.532360  -0.127960
4                  Bromley  0.000000               1  51.431820  -0.016566
1                   Barnet  0.000000               1  51.627294  -0.253759
19            Inner London  0.000000               1  51.526179  -0.153859
37             Westminster  0.000000               1  51.500080  -0.128020
36              Wandsworth  0.030000               2  51.456820  -0.194520
17              Hillingdon  0.040000               2  51.484225  -0.096480
26                  Merton  0.040000               2  51.415640  -0.191420
13  Hammersmith and Fulham  0.030000               2  51.482690  -0.212910
29               Redbridge  0.040000               2  51.475778  -0.080698
11               Greenwich  0.040000               2  51.484540   0.002750
7                  Croydon  0.030000               2  51.593209  -0.083390

In [161]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(kl_merged['Latitude'], kl_merged['Longitude'], kl_merged['Neighborhood'], kl_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' - Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

# Observations :from the clusters above it is best evident to start a bar in the cluster 2 as listed as less no of bars are availablein this  cluster .

In [163]:
kl_merged.loc[kl_merged['Cluster Labels'] == 2]

              Neighborhood   Bar  Cluster Labels   Latitude  Longitude
36              Wandsworth  0.03               2  51.456820  -0.194520
17              Hillingdon  0.04               2  51.484225  -0.096480
26                  Merton  0.04               2  51.415640  -0.191420
13  Hammersmith and Fulham  0.03               2  51.482690  -0.212910
29               Redbridge  0.04               2  51.475778  -0.080698
11               Greenwich  0.04               2  51.484540   0.002750
7                  Croydon  0.03               2  51.593209  -0.083390